@model FinessaAesthetica.Models.BranchInventory

@{
    ViewBag.Title = "Edit Branch Inventory";
    ViewBag.CurrentEntity = "Branch Inventory";
    ViewBag.WebPageTitle = Model.Product.ProductCode;
}

<div class="navbar navbar-static-top toolbar">
    <ul class="nav navbar-nav pull-right">
        <li><a href="#" id="btnSaveTrigger" title="Save Branch Inventory"><span class="fa fa-save"></span>&nbsp;SAVE</a></li>
        <li><a href="#" id="btnDeleteTrigger" title="Delete Branch Inventory"><span class="fa fa-trash"></span>&nbsp;DELETE</a></li>
    </ul>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Dashboard/">Home</a></li>
        <li class="breadcrumb-item"><a href="~/BranchInventory/"> Branch Inventory List</a></li>
        <li class="breadcrumb-item active">Edit Branch Inventory</li>
    </ol>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="ibox-content">
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.BranchInventoryId)

            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h4>Summary Details</h4>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BranchId, "BranchId", new { @class = "control-label col-sm-3 label-left" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.BranchId,
                                         (SelectList)ViewBag.BranchId,
                                         new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.BranchId)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductId, "ProductId", new { @class = "control-label col-sm-3 label-left" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.ProductId,
                                         (SelectList)ViewBag.ProductId,
                                         new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ProductId)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-sm-3 label-left" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", @placeholder = "Quantity . . ." })
                                    @Html.ValidationMessageFor(model => model.Quantity)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TotalAmount, new { @class = "control-label col-sm-3 label-left" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.TotalAmount, new { @class = "form-control", @placeholder = "Total amount . . ." })
                                    @Html.ValidationMessageFor(model => model.TotalAmount)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.StatusId, "StatusId", new { @class = "control-label col-sm-3 label-left" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.StatusId,
                                         (SelectList)ViewBag.StatusId,
                                         new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.StatusId)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MinimumThreshold, new { @class = "control-label col-sm-3 label-left" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.MinimumThreshold, new { @class = "form-control", @placeholder = "Minimum threshold . . ." })
                                    @Html.ValidationMessageFor(model => model.MinimumThreshold)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MaximumThreshold, new { @class = "control-label col-sm-3 label-left" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.MaximumThreshold, new { @class = "form-control", @placeholder = "Maximum threshold . . ." })                                    
                                    @Html.ValidationMessageFor(model => model.MaximumThreshold)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("~/Views/Shared/_RecordInformationEdit.cshtml")
        </div>
    </div>
    <div hidden="hidden">
        @Html.ActionLink("Delete", "Delete", new { id = Model.BranchInventoryId }, new { @class = "DeleteTrigger" })
        <input id="submitButton" type="submit" />
    </div>
}

@section Scripts {

    <script>
        $('#btnSaveTrigger').click(function () {
            $('#submitButton').click();
            return false;
        });
        $('#btnDeleteTrigger').click(function () {
            $('.DeleteTrigger')[0].click();
            return false;
        });
    </script>
}