@model IEnumerable<FinessaAesthetica.Models.Supplier>

@{
    ViewBag.Title = "Supplier";
    ViewBag.CurrentEntity = "Supplier";
    ViewBag.WebPageTitle = "Supplier List";
}

<div ng-controller="supplierCtrl as supplier" ng-init="supplier.initData();">
    <div class="navbar navbar-static-top toolbar">
        <ul class="nav navbar-nav pull-right">
            <li><a href="~/Supplier/Create" title="New Supplier"><span class="fa fa-plus"></span>&nbsp;NEW</a></li>
            <li><a href="#" title="Delete Records" ng-click="supplier.massDelete();"><span class="fa fa-trash-o"></span>&nbsp;DELETE</a></li>
        </ul>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Dashboard/">Home</a></li>
            <li class="breadcrumb-item actions">Supplier List</li>
        </ol>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" ng-model="supplier.isAllRecordSelected" title="select all" ng-change="supplier.selectAll();" />
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TelephoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobileNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactPerson)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TIN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status.Description)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="supplierItem in supplier.supplierList" ng-click="supplier.selectRow(supplierItem);" ng-dblclick="gb.openRecord('/Supplier/Edit/' + supplierItem.SupplierId); $event.preventDefault(); $event.stopPropagation();">
                <td ng-click="supplier.selectSingle(supplierItem);$event.stopPropagation();" ng-dblclick="$event.stopPropagation();">
                    <input type="checkbox" ng-change="supplier.selectSingle(supplierItem);" ng-model="supplierItem.IsSelected" />
                </td>
                <td ng-bind="supplierItem.Code"></td>
                <td ng-bind="supplierItem.Name"></td>
                <td ng-bind="supplierItem.Address"></td>
                <td ng-bind="supplierItem.TelephoneNumber"></td>
                <td ng-bind="supplierItem.MobileNumber"></td>
                <td ng-bind="supplierItem.ContactPerson"></td>
                <td ng-bind="supplierItem.TIN"></td>
                <td ng-bind="supplierItem.Status.Description"></td>
            </tr>
        </tbody>
    </table>
</div>



@section Scripts {
    <script src="~/dist/js/angular/Factories/filterFactory.js"></script>
    <script src="~/dist/js/angular/Controllers/supplierController.js"></script>
    <script src="~/dist/js/angular/Services/serviceFactory.js"></script>
    <script src="~/dist/js/angular/supplierModule.js"></script>
}