@model FinessaAesthetica.Models.Users

@{
    ViewBag.Title = "New User";
    ViewBag.CurrentEntity = "User";
    ViewBag.WebPageTitle = "New User";
}
@section toolbarleft {
    <li>
        @Html.ActionLink("User List", "Index")
    </li>
}

@section toolbarright {
    <li><a href="#" id="btnSaveTrigger" title="Save"><span class="fa fa-save"></span>&nbsp;SAVE</a></li>
}

<div class="box box-primary" style="margin-top: 50px;">
    <div class="box-header with-border" data-widget="collapse" style="cursor: pointer">
        <h3 class="box-title">General Information</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div class="chart">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true)

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, new { @class = "control-label" })

                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control input-sm", @placeholder = "User Name" })
                        @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, new { @class = "control-label" })

                        @Html.PasswordFor(model => model.Password, new { @class = "form-control input-sm", @placeholder = "Password" })
                        @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })

                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-sm", @placeholder = "First Name" })
                        @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, new { @class = "control-label" })

                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-sm", @placeholder = "Last Name" })
                        @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.MiddleName, new { @class = "control-label" })

                        @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control input-sm", @placeholder = "Middle Name" })
                        @Html.ValidationMessageFor(model => model.MiddleName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmployeeId, new { @class = "control-label" })

                        @Html.TextBoxFor(model => model.EmployeeId, new { @class = "form-control input-sm", @placeholder = "Employee Number" })
                        @Html.ValidationMessageFor(model => model.EmployeeId, null, new { @class = "text-danger" })
                    </div>
                </div>
                <input id="submitButton" type="submit" value="Create" class="hidden" />
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#btnSaveTrigger').click(function () {
            $('#submitButton').click();
            return false;
        });
    </script>
}


