@model FinessaAesthetica.Models.MainInventory

@{
    ViewBag.Title = "New Main Inventory";
    ViewBag.CurrentEntity = "Main Inventory";
    ViewBag.WebPageTitle = "New Main Inventory";
}

<div class="navbar navbar-static-top toolbar">
    <ul class="nav navbar-nav pull-right">
        <li><a href="#" id="btnSaveTrigger" title="Create Main Inventory"><span class="fa fa-save"></span>&nbsp;SAVE</a></li>
    </ul>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Dashboard/">Home</a></li>
        <li class="breadcrumb-item"><a href="~/MainInventory/">Main Inventory List</a></li>
        <li class="breadcrumb-item actions">New Main Inventory</li>
    </ol>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="ibox-content">
        @Html.ValidationSummary(true)
        <div class="form-horizontal">

            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h4>Summary Details</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductId, "ProductId", new { @class = "control-label col-sm-3 label-left" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.ProductId,
                                         (SelectList)ViewBag.ProductId,
                                         "Select product . . .",
                                         new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ProductId)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-sm-3 label-left" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", @placeholder = "Quantity . . ." })
                                    @Html.ValidationMessageFor(model => model.Quantity)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.StatusId, "StatusId", new { @class = "control-label col-sm-3 label-left" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.StatusId,
                                         (SelectList)ViewBag.StatusId,
                                         "Select status . . .",
                                         new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.StatusId)
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.MinimumThreshold, new { @class = "control-label col-sm-3 label-left" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.MinimumThreshold, new { @class = "form-control", @placeholder = "Minimum threshold . . ." })
                                    @Html.ValidationMessageFor(model => model.MinimumThreshold)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MaximumThreshold, new { @class = "control-label col-sm-3 label-left" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.MaximumThreshold, new { @class = "form-control", @placeholder = "Maximum threshold . . ." })
                                    @Html.ValidationMessageFor(model => model.MaximumThreshold)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("~/Views/Shared/_RecordInformationCreate.cshtml")
        </div>
    </div>

    <input id="submitButton" type="submit" class="hidden" />
}

@section Scripts {
    <script>
        $('#btnSaveTrigger').click(function () {
            $('#submitButton').click();
            return false;
        });
    </script>
}
