@model FinessaAesthetica.Models.MainInventory

@{
    ViewBag.Title = "Edit Main Inventory";
    ViewBag.CurrentEntity = "Main Inventory";
}
<div>
    <div class="navbar navbar-static-top toolbar">
        <ul class="nav navbar-nav pull-right">
            <li><a href="#" id="btnSaveTrigger" title="Save Main Inventory"><span class="fa fa-save"></span>&nbsp;SAVE</a></li>
            <li><a href="#" id="btnDeleteTrigger" title="Delete Main Inventory"><span class="fa fa-trash"></span>&nbsp;DELETE</a></li>
            <li><a href="#" id="btnDeleteTrigger" title="Transfer"><span class="fa fa-truck"></span>&nbsp;TRANSFER</a></li>
        </ul>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Dashboard/">Home</a></li>
            <li class="breadcrumb-item"><a href="~/MainInventory/">Main Inventory List</a></li>
            <li class="breadcrumb-item actions">Edit Main Inventory</li>
        </ol>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="ibox-content">
            <div class="form-horizontal">

                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.MainInventoryId)
                @Html.HiddenFor(model => model.CreatedById)
                @Html.HiddenFor(model => model.CreatedOn)

                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h4>Summary Details</h4>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductId, "ProductId", new { @class = "control-label col-sm-3 label-left" })
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(model => model.ProductId,
                                         (SelectList)ViewBag.ProductId,
                                         new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ProductId)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-sm-3 label-left" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", @placeholder = "Quantity . . ." })
                                        @Html.ValidationMessageFor(model => model.Quantity)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.StatusId, "StatusId", new { @class = "control-label col-sm-3 label-left" })
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(model => model.StatusId,
                                         (SelectList)ViewBag.StatusId,
                                         new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.StatusId)
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.MinimumThreshold, new { @class = "control-label col-sm-3 label-left" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.MinimumThreshold, new { @class = "form-control", @placeholder = "Minimum threshold . . ." })
                                        @Html.ValidationMessageFor(model => model.MinimumThreshold)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.MaximumThreshold, new { @class = "control-label col-sm-3 label-left" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.MaximumThreshold, new { @class = "form-control", @placeholder = "Maximum threshold . . ." })
                                        @Html.ValidationMessageFor(model => model.MaximumThreshold)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Partial("~/Views/Shared/_RecordInformationEdit.cshtml")
            </div>
        </div>

        <div hidden="hidden">
            @Html.ActionLink("Delete", "Delete", new { id = Model.MainInventoryId }, new { @class = "DeleteTrigger" })
            <input id="submitButton" type="submit" />
        </div>
    }

</div>
@section Scripts {
    <script>
        $('#btnSaveTrigger').click(function () {
            $('#submitButton').click();
            return false;
        });
        $('#btnDeleteTrigger').click(function () {
            $('.DeleteTrigger')[0].click();
            return false;
        });
    </script>
}
