@model IEnumerable<FinessaAesthetica.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Key)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desciption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitMeasurement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StandardRetailPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desciption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitMeasurement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StandardRetailPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
        </td>
    </tr>
}

</table>
