@model IEnumerable<FinessaAesthetica.Models.Product>

@{
    ViewBag.Title = "Product";
    ViewBag.CurrentEntity = "Product";
    ViewBag.WebPageTitle = "Product List";
}

<div class="navbar navbar-static-top toolbar">
    <ul class="nav navbar-nav pull-right">
        <li><a href="~/Product/Create" title="New Product"><span class="fa fa-plus"></span>&nbsp;NEW</a></li>
    </ul>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Dashboard/">Home</a></li>
        <li class="breadcrumb-item active">Product List</li>
    </ol>
</div>


<table class="table table-hover">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color.Code)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desciption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitMeasurement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StandardRetailPrice)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
            {
            <tr style="cursor:pointer;" ondblclick="OpenRecord('/Product/Edit/' + @item.ProductId);">
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color.Code)
                </td>              
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desciption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitMeasurement)
                </td>
                <td>                  
                    @Html.DisplayForCurrency(item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayForCurrency(item.StandardRetailPrice)
                </td>
                <td class="text-right">
                    @Html.DeleteAction("Product", "Delete", item.ProductId)
                </td>
            </tr>
        }
    </tbody>

</table>